conftest 0.30.0
conftest 0.43.1
conftest 0.44.1
golang 1.17.6
golang 1.20.2
golang 1.20.5
golang 1.20.8
golangci-lint 1.46.2
golangci-lint 1.53.3
nodejs 16.13.2
opa 0.36.1
opa 0.53.1
pre-commit 2.17.0
pre-commit 3.3.0
pre-commit 3.3.3
python 3.8.6
python 3.11.3
terraform 1.4.0
terraform 1.5.5
terraform-docs 0.16.0
terragrunt 0.36.1
terragrunt 0.39.2
terragrunt 0.51.6
tflint 0.34.1
tflint 0.47.0
tflint 0.48.0
